*{
    margin: 0;
    padding: 0;
}
#prioridade{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px 2fr 50px;
    grid-template-areas: 
    "cabecalho cabecalho"
    "lateral cards"
    "rodape rodape";
    font-family: sans-serif;
}
header{
    grid-area: cabecalho;
    background-color: mediumvioletred;
    display: flex;
    padding-left: 50px;
    align-items: center;
}
header img{
    max-width: 35px;
}
header h1{
    margin: 10px 0 0 20px;
}
header button{
    margin-left: 65%;
    margin-top: 10px;
    padding: 5px 20px;
}
nav{
    grid-area: lateral;
    background-color: #f2d0e0;
}
nav img{
    max-width: 35px;
    padding: 15px;
    margin-top: 10px;
}
.menu{
    display: flex;
    margin-left: 10px;
    justify-content: stretch;
}
.menu ul{
    list-style-type: none;
    display: inline-block;
    margin-top: 28px;
}
.menu a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
.avanco{
    margin-left: auto;
}
.primeiro-conteudo{
    grid-area: conteudo1;
    display: flex;
}
.segundo-conteudo{
    grid-area: conteudo1;
    display: flex;
}
.item{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 darkgray;
    padding: 30px;
    margin: 30px;   
    width: 150px;
    height: 200px;
}
.item img{
    float: right;
    max-width: 150px;
    max-height: 150px;

}
.item h2{
    text-align: center;
    margin-top: 160px;
    font-size: 15px;
}
.item p{
    margin-top: 6px;
    text-align: center;
    font-size: 12px;
}
footer{
    background-color: mediumvioletred;
    grid-area: rodape;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;   
}   
